[gerrit]
	basePath = /root/code
	serverId = e33f870a-7d7a-4eec-be3d-46bf9d981540
	canonicalWebUrl = http://47.104.233.42:8080/
[database]
	type = mysql
	database = reviewdb
	hostname = 47.104.233.42
	username = root
[noteDb "changes"]
	disableReviewDb = true
	primaryStorage = note db
	read = true
	sequence = true
	write = true
[index]
	type = LUCENE
[auth]
	type = HTTP
	logoutUrl = http://47.104.233.42:8080/
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = smtp.126.com
	smtpServerPort = 465
        smtpEncryption = SSL
	sslVerify = false
	smtpUser = tustar1030@126.com
        from = Code Review<tustar1030@126.com>
[container]
	user = root
	javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.171-8.b10.el6_9.x86_64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8000/
[cache]
	directory = cache
